include includes/_header.jade
//- include includes/script.js

body
	div(class="container clearfix")
		div(class="gallery")
			h1 The "Beatles Ashram". Rishikesh, India

			//-thumbnail gallery

			div(class="previews")
				a(value="1" href="#" data-full="assets/images/India/image1Large.jpg" data-info="The front gates to the ashram. It was abandoned in 1997 and it is now slowing being consumed by forest. Inside you will find the shells of many buildings, meditation cells and lecture halls. Technically the ashram is closed to the public, but 50 rupees will get you anything in India"
					data-zoom-image="assets/images/aIndia/image1Large.jpg")
					img(src="assets/images/India/image1Small.jpg")
				a(value="2" href="#" data-full="assets/images/India/image2Large.jpg" data-info="Here you can see the transcendental meditation cells and their beautiful view of the Ganges"
					data-zoom-image="assets/images/India/image2Large.jpg")
					img(src="assets/images/India/image2Small.jpg")
				a(value="3" href="#" data-full="assets/images/India/image3Large.jpg" data-info="The meditation chambers of George, Paul, John and Ringo - as seen in the photo from left to right"
					data-zoom-image="assets/images/India/image3Large.jpg")
					img(src="assets/images/India/image3Small.jpg")
				a(value="4" href="#" data-full="assets/images/India/image4Large.jpg" data-info="One of the main lecture halls. Shortly after these photos were taken, an artist turned this space into what is now known as the Beatles Cathedral Gallery. The walls are now covered with his paintings which include many great spiritual leaders from Gandhi to Mother Teresa"
					data-zoom-image="assets/images/India/image4Large.jpg")
					img(src="assets/images/India/image4Small.jpg")
				a(value="5" href="#" data-full="assets/images/India/image5Large.jpg" data-info="Graffiti, art installations, and giant murals can be found in many rooms throughout the ashram, creating an interesting contrast between the decrepit decaying buildings and their brilliant colors"
					data-zoom-image="assets/images/India/image5Large.jpg")
					img(src="assets/images/India/image5Small.jpg")
	
			
			//-main image info - left in incase we want the first image to be displayed first	

			div(class="mainImage")
				a(class="fancyImage" href="")
					img(id ="zoom" src="" data-zoom-image="")

			//-placeholder with descriptive text

			div(class="placeholder")
				h3 In February 1968, the Beatles traveled to the Maharishi Mahesh Yogi ashram in Rishikesh, India. There they attend an advanced Transcendental Meditation training session. It is said that many of the songs in the White album came out of their time here. Click on the images to the left to get a closer look.  

			div(class="textbox")
				p
		

		//-div to hold the switches for applying filters

		div(class="switchHolder")
	

			div(class="greyBackground")
				div(class="greyScaleSwitch")
					img(src="assets/images/film.png")
				div(class = "gsSlider")
					form
						input(id="slider" type="range" min="0" max="100" step="1" value = "0")
	

			div(class="sepiaBackground")
				div(class="sepiaSwitch")
					img(src="assets/images/film.png")
				div(class = "sepSlider")
					form
						input(id="sepSlider" type="range" min="0" max="100" step="1" value = "0")

			div(class="saturationBackground")
				div(class="saturationSwitch")
					img(src="assets/images/film.png")
				div(class = "satSlider")
					form
						input(id="satSlider" type="range" min="0" max="100" step="1" value = "0")


//-jQuery section
			
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="fancybox/jquery.fancybox.js?v=2.1.4")
script(src="jquery.mlens-1.4.min.js")

script.
	$(function(){
		
	//- function to select and display larger images by selecting relevant thumbnails

		$('.previews a').on('click',function(e){
			e.preventDefault();
			$('.mainImage').css("opacity", 1)
			var biggerPicture = $(this).data('full');
			$('.mainImage img').attr('src',biggerPicture);
			$('.placeholder').css("display", "none");
			//- $('.textbox').css("opacity", 1);
			//- $('.textbox').css("margin-left", 28%);
			//- var zoomPicture = $(this).data('zoom-image');
			//- $('.mainImage img').attr('data-zoom-image',zoomPicture);
			//- $('.mainImage img').imageLens({ lensSize: 200 })
			
			$(this).fadeTo( "slow", 0.33 );
			$('p').html($(this).data('info'));
			$('.fancyImage').attr('href', biggerPicture);
			
		});
			
		
	//--fancybox code
		
		$('.fancyImage').fancybox();
	
	
	//- greyscale switch code

		var gsState = false
		var currentValue = $('#currentValue');

		
		$('.greyScaleSwitch').on('click', function(){
			if (gsState === false){
				$('.gsSlider').fadeIn();
				gsState = true
				console.log('gstrue')
				$(this).css('background-color', 'rgba(140,140,140,1)')
			$('#slider').change(function(){
				currentValue.html(this.value);
				if (this.value == 0 && gsState === true){
					$('.mainImage img').removeClass('greyScaleFilterMin');
					$('.mainImage img').removeClass('greyScaleFilterMid');
					$('.mainImage img').removeClass('greyScaleFilterMax');
				} else if (this.value >= 10 && this.value <=30 && gsState === true){
					$('.mainImage img').addClass('greyScaleFilterMin');
					$('.mainImage img').removeClass('greyScaleFilterMid');
					$('.mainImage img').removeClass('greyScaleFilterMax');
					console.log('heyo');
				} else if (this.value >= 40 && this.value <=80 && gsState === true){
					$('.mainImage img').addClass('greyScaleFilterMid');
					$('.mainImage img').removeClass('greyScaleFilterMax');
					}
				else if(this.value >= 90 && gsState === true){
				$('.mainImage img').addClass('greyScaleFilterMax');
				}
			});

			} else {
				$('.greyScaleSwitch').css('background-color', 'rgba(255,255,255,0.2)');
				gsState = false;
				$('.gsSlider').fadeOut(100);
				console.log('gsfalse');
				this.value = 0;
				$('.mainImage img').removeClass('greyScaleFilterMin');
				$('.mainImage img').removeClass('greyScaleFilterMid');
				$('.mainImage img').removeClass('greyScaleFilterMax');
			}
			});





		//- sepia switch code

			var sepState = false
			var currentValue = $('#currentValue');

			
			$('.sepiaSwitch').on('click', function(){
				if (sepState === false){
					$('.sepSlider').fadeIn();
					sepState = true
					console.log('septrue')
					$(this).css('background-color', 'rgba(184,164,128,1)')
				$('#sepSlider').change(function(){
					currentValue.html(this.value);
					if (this.value == 0 && sepState === true){
						$('.mainImage img').removeClass('sepiaFilterMin');
						$('.mainImage img').removeClass('sepiaFilterMid');
						$('.mainImage img').removeClass('sepiaFilterMax');
					} else if (this.value >= 10 && this.value <=30 && sepState === true){
						$('.mainImage img').addClass('sepiaFilterMin');
						$('.mainImage img').removeClass('sepiaFilterMid');
						$('.mainImage img').removeClass('sepiaFilterMax');
						console.log('heyo');
					} else if (this.value >= 40 && this.value <=80 && sepState === true){
						$('.mainImage img').addClass('sepiaFilterMid');
						$('.mainImage img').removeClass('sepiaFilterMax');
						}
					else if(this.value >= 90 && sepState === true){
					$('.mainImage img').addClass('sepiaFilterMax');
					}
				});

				} else {
					$('.sepiaSwitch').css('background-color', 'rgba(255,255,255,0.2)');
					sepState = false;
					$('.sepSlider').fadeOut(100);
					console.log('sepfalse');
					this.value = 0;
					$('.mainImage img').removeClass('sepiaFilterMin');
					$('.mainImage img').removeClass('sepiaFilterMid');
					$('.mainImage img').removeClass('sepiaFilterMax');
				}
				});	



			//- saturation switch code

				var satState = false
				var currentValue = $('#currentValue');

				
				$('.saturationSwitch').on('click', function(){
					if (satState === false){
						$('.satSlider').fadeIn();
						satState = true
						console.log('sattrue')
						$(this).css('background-color', 'rgba(255,20,0,1)')
					$('#satSlider').change(function(){
						currentValue.html(this.value);
						if (this.value == 0 && satState === true){
							$('.mainImage img').removeClass('satFilterMin');
							$('.mainImage img').removeClass('satFilterMid');
							$('.mainImage img').removeClass('satFilterMax');
						} else if (this.value >= 10 && this.value <=30 && satState === true){
							$('.mainImage img').addClass('satFilterMin');
							$('.mainImage img').removeClass('satFilterMid');
							$('.mainImage img').removeClass('satFilterMax');
							console.log('heyo');
						} else if (this.value >= 40 && this.value <=80 && satState === true){
							$('.mainImage img').addClass('satFilterMid');
							$('.mainImage img').removeClass('satFilterMax');
							}
						else if(this.value >= 90 && satState === true){
						$('.mainImage img').addClass('satFilterMax');
						}
					});

					} else {
						$('.saturationSwitch').css('background-color', 'rgba(255,255,255,0.2)');
						satState = false;
						$('.satSlider').fadeOut(100);
						console.log('satfalse');
						this.value = 0;
						$('.mainImage img').removeClass('satFilterMin');
						$('.mainImage img').removeClass('satFilterMid');
						$('.mainImage img').removeClass('satFilterMax');
					}
					});	
	});

	
	

